.card__text {
    display: flex;
    justify-content: space-between;
    margin: 25px 15px 25px 21px;
    align-items: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}