@import url(../vendor/normalize.css);
@import url(../vendor/fonts/inter.css);
@import url(../blocks/wrapper/wrapper.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__job/profile__job.css);
@import url(../blocks/profile/__button/profile__button.css);
@import url(../blocks/profile/__button-plus/profile__button-plus.css);
@import url(../blocks/profile/__container/profile__container.css);
@import url(../blocks/profile/__content/profile__content.css);
@import url(../blocks/card/card.css);
@import url(../blocks/card/__elements/card__elements.css);
@import url(../blocks/card/__tittle/card__tittle.css);
@import url(../blocks/card/__text/card__text.css);
@import url(../blocks/card/__photo/card__photo.css);
@import url(../blocks/card/__like/card__like.css);
@import url(../blocks/card/__like/_active/card__like_active.css);
@import url(../blocks/card/__delete/card__delete.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__text/popup__text.css);
@import url(../blocks/popup/__save/popup__save.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__img/popup__img.css);
@import url(../blocks/popup/__container/_type/popup__container_type_image.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/_type/popup_type_img.css);
@import url(../blocks/popup/__error/popup__error.css);
@import url(../blocks/popup/__input/_type/popup__input_type_error.css);
@import url(../blocks/popup/__save/_disabled/popup__save_disabled.css);
@import url(../blocks/popup/__form/popup__form.css);