@import url(../vendor/normalize.css);
@import url(../vendor/fonts/inter.css);
@import url(../blocks/wrapper/wrapper.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__job/profile__job.css);
@import url(../blocks/profile/__button/profile__button.css);
@import url(../blocks/profile/__button-plus/profile__button-plus.css);
@import url(../blocks/profile/__container/profile__container.css);
@import url(../blocks/profile/__content/profile__content.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/__card/elements__card.css);
@import url(../blocks/elements/__photo/elements__photo.css);
@import url(../blocks/elements/__tittle/elements__tittle.css);
@import url(../blocks/elements/__like/elements__like.css);
@import url(../blocks/elements/__text/elements__text.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__text/popup__text.css);
@import url(../blocks/popup/__save/popup__save.css);
@import url(../blocks/popup/_opened/popup_opened.css);