.profile__job {
    max-width: 336px;
    height: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 11px 0 0 0;
}

@media screen and (max-width: 540px) {
    .profile__job {
        font-size: 14px;
        line-height: 17px;
    }
}